/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/
@brand-primary:        #FF5400; // orange
@brand-tertiary:       #FF5400; // orange
@brand-secondary:      #1B208B; // bleu
@brand-quaternary:     #FF5400;
@brand-quinary:         @brand-secondary;
@brand-info:            @brand-tertiary;
@brand-info-light:      #dbe3f8;
@brand-warning:         #FF5400;

@headings-color: @brand-secondary;
@headings-font-weight: 900;
@text-color: #0f0f0f;

// Header
@header-background:@white;
@header-toolbar-color:#333;
@header-toolbar-color-hover:lighten(@header-toolbar-color, 20%);
@header-row-padding-bottom:0;

// Jumbotron
@jumbotron-bg-color:@brand-secondary;
@jumbotron-color:#fff;
@jumbotron-text-align:center;
@jumbotron-h1-size:52px;
@jumbotron-h1-weight:bold;
@jumbotron-icon-size:60px;
//@jumbotron-link-color:inherit;
//@jumbotron-link-color-hover:inherit;
//@jumbotron-link-color-visited:inherit;

// default font weight
@jumbotron-p-weight: 400;

//== Breadcrumb
@breadcrumb-color:#e2e2e2;
@breadcrumb-hover:@breadcrumb-color;
@breadcrumb-active-color:#fff;

// Default Menu
@main-menu-link-color:@brand-secondary;
@main-menu-link-active-color: @brand-quinary;
@main-menu-link-hover-color: @brand-quinary;
@main-menu-dropdown-link-color: @brand-secondary;
@main-menu-dropdown-link-active-color: @brand-quinary;
@main-menu-dropdown-link-hover-color: @brand-quinary;

//==  Mobile menu colors

// Default dropdown link colors
@mobile-menu-background: @white;
@mobile-menu-hover: #ccc;
@mobile-menu-color:#333;
@mobile-menu-nav-background:@white;
@navbar-toggle-icon-background: #333;

// Colors for active link
@mobile-menu-open-active-background: @brand-primary;
@mobile-menu-open-active-color: #fff;

// Default dropdown link colors
@mobile-menu-dropdown-menu-background: #f7f7f7;
@mobile-menu-dropdown-menu-color: #333;
@mobile-menu-dropdown-menu-hover: #333;
@mobile-menu-dropdown-menu-hover-background: #f5f5f5;
@mobile-menu-dropdown-menu-active-background: darken(@mobile-menu-dropdown-menu-background, 15%);
@mobile-menu-dropdown-menu-active-color: #333;
@mobile-menu-dropdown-menu-active-hover: #333;
@mobile-menu-dropdown-menu-active-hover-background: @mobile-menu-dropdown-menu-background;
@mobile-menu-dropdown-menu-border-bottom:1px solid #e8e8e8;
@mobile-main-menu-link-border-bottom:none;
@mobile-menu-logo-max-width:80px;

//== Footer
@footer-background: @brand-secondary;
@footer-color: #fff;
@footer-border-top: none;
@footer-h2-color: #fff;
@footer-h2-font-weight: 600;
@footer-h2-font-size: 21px;

@footer-link-color: #fff;
@footer-link-font-weight:400;
@footer-link-hover: @brand-primary;
@footer-nav-link-padding: 6px 15px 6px 16px;

//== Nav
@navbar-padding-horizontal:0;