<div class="container section-home-launched text-center" id="launched-by">
    <div class="row">
      <h2 id="members">Members</h2>
      <a href="https://www.eclipse.org/">
        <img src="{{ "images/partner-logos/ef-gray-logo.svg" | absURL}}" alt="Eclipse Foundation logo" width="150" /></a>
      <a href="https://publiccode.net/">
        <img src="{{ "images/partner-logos/foundation-for-public-code.svg" | absURL}}" alt="Foundation for Public Code logo" width="140" /></a>
      <a href="https://openforumeurope.org/">
        <img src="{{ "images/partner-logos/ofe-logo.png" | absURL}}" alt="OpenForum Europe logo" width="140" /></a>
      <a href="https://www.ow2.org/">
        <img src="{{ "images/partner-logos/ow2-logo.png" | absURL}}" alt="OW2 logo" width="120" /></a>
    </div>
</div>
