<div class="flex-container section-home-dt" id="documents">
  <div class="section-home-dt__left column hidden-xs hidden-sm"></div>
  <div class="section-home-dt__right column">
    <div class="col-md-12">
      <img
      src="images/icons/icon-file.png"
      alt="Documents icon"
    />
      <h3>Documents</h3>
      <ul>
        <li><a href="/position-paper">Position paper</a></li>
        <li><a href="/contribute">How to contribute</a></li>
      </ul>
    </div>
    <div class="col-md-12">
      <img
      src="images/icons/icon-tools.png"
      alt="Documents icon"
    />
      <h3>Tools</h3>
      <p>Join the conversation on the <a href="https://accounts.eclipse.org/mailing-list/ospo.zone">mailing list</a>.
      </p>

    </div>
  </div>
</div>
