<div class="container col-sm-24 text-center hosted-by">
  <div class="row">
    <p>
      The OSPO.Zone was launched by: 
      <a href="https://www.ow2.org/">OW2</a>, 
      <a href="https://www.eclipse.org/">Eclipse Foundation</a>, 
      <a href="https://openforumeurope.org/">OpenForum Europe</a>,
      and <a href="https://publiccode.net/">Foundation for Public Code</a>.
    </p>
    <p>
      Website hosted by the
      <a href="https://www.eclipse.org/">Eclipse Foundation</a>
    </p>
  </div>
</div>
